.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.bttn{
  text-align: center;
  margin: 40px;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  text-align: center;
  height: 40px;
  width: 80px;
  font-size: 20px;
  border-radius: 20%;
  border: 0px;
  color: #4ECCA3;
  background-color: rgb(253, 250, 250);
  box-shadow: 5px 5px 10px #4ecca2aa,-5px -5px 10px #4ecca29d;
}
